* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.box .top {
  width: 100%;
  flex: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: flex;
}

.box .top span {
  height: 40px;
  line-height: 40px;
  flex: 1;
  font-size: 20px;
}

.box .main {
  width: 100%;
  flex: 10;
  background: #eee;
}

.box .main .add {
  width: 100%;
  height: 360px;
  background: white;
  margin-top: 50px;
}

.box .main .add .add1 {
  width: 100%;
  height: 60px;
}

.box .main .add .add1 div {
  width: 50px;
  height: 50px;
  background: #eee;
  border-radius: 50%;
  margin-left: 10px;
  float: left;
}

.box .main .add .add1 span {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}

.box .main .add .add2 {
  width: 100%;
  height: 300px;
}

.box .main .add .add2 ul li {
  border-bottom: 1px solid #ccc;
  margin-left: 15px;
  position: relative;
  color: #888;
}

.box .main .add .add2 ul li span {
  display: inline-block;
  margin-top: 40px;
}

.box .main .add .add2 ul li .jt {
  position: absolute;
  right: 10px;
  top: 0;
}

.box .bottom {
  width: 100%;
  flex: 1;
  background: black;
}

.box .bottom p {
  color: #666;
  margin-top: 5px;
  margin-left: 15px;
}
